<div class="container">
	<div class="current-cards">
		<div class="card-well">
			<div class="card">
				<textarea ng-model="currentFront">Editable text</textarea>
			</div>

			<div class="card">
				<textarea ng-model="currentBack">Editable text</textarea>
			</div>
		</div>
	</div>

	<div class="action-btns">
		<button class="btn -large" ng-click="addNewCard()">New Card</button>
		<a href="#/save" class="btn -large">Finish</a>
	</div>

	
	<finished-card class="finished-cards" card-object="card" ng-repeat="card in savedCards">
	</finished-card>
</div>