<div class="splash-content">
	<strong class="splash-title">Flashcards</strong>
	<div class="action-btns">
		<a href="#/create" class="btn -large">New Set</a>
		<!-- <button class="btn -large" ng-click="displayImport()">Load</button> -->

		<!-- <input type="file"  class="" ng-click="displayImport()" value="Load"> -->
		<div class="fileUpload btn -large">
    	Upload
    	<input type="file" id="import" class="upload" ng-change="fileChanged()">
		</div>

	</div>

	<div id="import-area" class="import-area">
		<textarea class="import-field" ng-model="importFieldContent" placeholder="Paste object here"></textarea>
		<a href="#/create" class="btn -large center -h" ng-click="importCards()">Import</a>
	</div>
</div>
